*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
}

// 滚动条
* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 2.5px;
  }
}

.ant-checkbox-group {
  .ant-checkbox-wrapper {
    margin: 0 10px 5px 0;
  }
}

.ant-modal {
  min-width: max-content;
}

.ant-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
